body {
    font-family: Arial, sans-serif; /* Fonte da página */
    background-color: gray; /* Cor de fundo */
    margin: 0; /* Remove margens padrão */
    padding: 20px; /* Adiciona espaço interno */
}

#container {
    max-width: 600px; /* Largura máxima do container */
    margin: auto; /* Centraliza o container */
    background: black; /* Cor de fundo do container */
    padding: 20px; /* Espaço interno do container */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

#search-bar {
    position: absolute;
    top: 14px;
    right: 10px;
}

#result-bar {
    /*display: none;
    /* Inicialmente oculta 
    background-color: #f0f0f0; /* Cor de fundo cinza */
    position: absolute;
    top: 25px;
    right: 10px;
    width: 36vw;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 100px;
    margin-top: 10px;
}

#input-pesquisar {
    width: 36vw;
    border-radius: 6px;
}
