#filmeEspecifico_id {
    color: white;
}

#filmeEspecifico_id h1 {
    display: block;
    width: fit-content;
    margin: auto;
    padding: 20px;
}

#iframe_div * {
    height: 300px;
    width: 560px;
    display: block;
    margin: auto;
    padding-top: 20px;
}

#descricao {
    display: block;
    width: fit-content;
    margin: auto;
    padding: 20px;
}

#informacoes {
    padding-left: 20px;
}

#informacoes span {
    font-weight: bold;
    color: orangered;
}

@media (max-width: 630px) {
    #iframe_div * {
        height: 200px;
        width: 360px;
        padding-top: 20px;
    }
}

@media (max-width: 390px) {
    #iframe_div * {
        height: 200px;
        width: 260px;
        display: block;
        margin: auto;
        padding-top: 20px;
    }
}

@media (max-width: 280px) {
    #iframe_div * {
        height: 160px;
        width: 240px;
        display: block;
        margin: auto;
        padding-top: 20px;
    }
}
